
/* header section  */
.header-s{
    background-color: #000;
}
.header-s .logo a img{
    width: 100px;
    height: auto;
}
.header-menu {
    background: #000000;
}
.header-menu ul {
    text-align: right;
    margin-bottom: 0;
}
.header-menu ul li {
    display: inline-block;
    margin-left: -4px;
    padding: 5px 25px;
}
.header-menu ul li a {
    color: #fff;
    display: block;
    font-size: 25px;
    text-decoration: none;
    border-bottom: 2px solid #000;
}
.header-menu ul li:hover > a{
    color: #fff;
    border-bottom: 2px solid #fff;
}

/*  Drop-down Mneu Start  */
.header-menu ul li{
    position: relative;
}
.header-menu ul li ul{
    position: absolute;
    left: -20%;
    top: 150%;
    width: 200px;
    background-color: #000000;
    transition: .5s;
}
.header-menu ul li ul li{
    display: block;
    margin-left: 0;
}
.header-menu ul li ul li a{
    display: block;
}
.header-menu ul li ul li a:hover{
    background-color: #fff;
    color: #000;
    border-bottom: 2px solid #000;
}
/* Hover part */
.header-menu ul li ul{
    opacity: 0;
    visibility: hidden;
}
.header-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
}

/* banner section  */
.banner-s{
    background-image: url(https://i.ibb.co/YThJCcr/a0c6042d4612d7adf44692fffac7e082.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 185px 0px;
}
.banner-s .banner-text{
    margin-top: -15px;
}
.banner-s .banner-text h1{
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
}
.banner-s .banner-text h5{
    font-size: 24px;
    font-weight: bold;
}
.banner-s .banner-text .start{
    background-color: #000;
    color: #fff;
}
.banner-s .banner-text .start:hover{
    background-color: #fff;
    color: #000;
    transition: .5s;
}
.banner-s .banner-text .contact{
    color: #000;
    background-color: #fff;
}
.banner-s .banner-text .contact:hover{
    color: #fff;
    background-color: #000;
    transition: .5s;
}
/* .about section  */
.about-s{
    background-color: #87a471;
}
.about-s h1{
    display: inline-block;
    color: #e8dfda;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    border-bottom-color: #e8dfda;
    text-shadow: 2px 2px 5px #e8dfda;
}
.about-s .text-leftt {
    color: #fff;
}
.about-s .right-img img{
    width: 350px;
    height: auto;
}
/* work section  */
.work-s{
    background-color: #606a64;
}
.work-s .wrapp{
    background-color: #fff;
    width: 310px;
    height: auto;
    clear: both;
    display: inline-block;
    padding: 25px;
    border-radius: 20px;
    margin-top: 45px;
}
.work-s .w-text{
    color: #dfe0e1;
    width: 825px;
    display: inline-block;
}
.work-s .w-text h1{
    text-transform: uppercase;
    font-size: 55px;
    font-weight: bold;
    text-shadow: 2px 0px 5px #dfe0e1;
    border-bottom: 3px solid #dfe0e1;
    display: inline-block;
}
.work-s .wrapp .text-center h2{
    font-size: 45px;
}
.work-s .wrapp .icon{
    float: left;
    font-size: 40px;
    color: #00ba9a;
    display: inline-block;
}
.work-s .wrapp .icon-rtext{
    float: right;
    text-align: left;
    margin-left: 55px;
    margin-top: -50px;
}
.work-s .wrapp .icon-rtext p{
    color: #72879d;
}
/* service section  */
.service-s{
    background-color: #87a471;
    padding: 80px 0px;
}
.service-s .ser-box{
    width: 500px;
    border: 1px solid #fff;
    text-align: center;
    margin-right: -20px;
}
.service-s .ser-box img{
    max-width: 100%;
    height: 80%;
}
.service-s .ser-box .f-img{
    width: 500px;
    height: auto;
}
.service-s .ser-text h1{
    font-size: 35px;
    color: #fff;
}
.service-s .ser-text p{
    color: #c8d1c2;
    font-size: 20px;
}
.service-s .ser-box h6{
    color: #556e83;
    font-size: 20px;
    font-weight: bold;
    padding-top: 25px;
}
.service-s .ser-box p{
    color: #fff;
    font-weight: bold;
}
.service-s .img-al{
    width: 242px;
    height: auto;
    margin-left: 24px;
}
/* team section  */
.team-s{
    background-color: #5b9776;
}
.team-s h1{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 1;
}
.team-s .team-box{
    display: inline-block;
}
.team-s .team-box .team-img{
    width: 280px;
    height: auto;
    display: inline-block;
}
.team-s .team-box .team-img img{
    max-width: 100%;
    height: auto;
}
.team-s .team-box .team-icon i{
    color: #fff;
    font-size: 30px;
    padding: 10px 0px;
    margin: 0px 5px;
}
.team-s .team-box .team-icon i:hover{
    color: #808080;
    transition: .1s;
}
/* client section  */
.client-s{
    background-color: #606a64;
    text-align: center;
    color: #fff;
}
.client-s .client-text{
    width: 650px;
    height: auto;
    margin: 0 auto;
    padding: 80px 0px;
}
.client-s .client-text a .btn{
    background-color: #00bc9c;
    color: #fff;
}
/* footer section  */
.footer{
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 15px 0px;
}
.footer p{
    margin-bottom: 0;
}